@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-gray-900 text-white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-800;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-700 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600;
}

.video-js {
  @apply rounded-lg overflow-hidden;
}

.video-js .vjs-big-play-button {
  @apply bg-purple-600 border-none rounded-full !important;
  width: 80px;
  height: 80px;
  line-height: 80px;
  margin-left: -40px;
  margin-top: -40px;
}